@font-face {
  font-family: "Meslo LG M DZ";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/MesloLGMDZ-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Meslo LG M DZ";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/MesloLGMDZ-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Meslo LG M DZ";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/MesloLGMDZ-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Meslo LG M DZ";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/MesloLGMDZ-BoldItalic.woff2") format("woff2");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  word-break: break-word;

  max-width: 70rem;
  margin: 0 auto;
  padding: 0 min(3.5rem, 5%);
}

header {
  border-bottom: 0.1rem solid #222;
  margin: 1.2rem 0;
}

nav {
  margin: 0.75rem auto;
  text-align: center;
}

nav a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
}

nav a + a {
  margin: 0 0 0 1.2rem;
}

footer {
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 0.1rem solid #222;
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

footer > div + div {
  margin-top: 0.5rem;
}

footer .license,
footer .copyright {
  white-space: nowrap;
}

h1 {
  margin: 1rem 0;
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

p {
  margin-block-start: 1.3em;
  margin-block-end: 1.3em;
}

.article-body {
  margin-block-end: 6rem;
}

.footnotes {
  font-size: 85%;
  margin-block-start: 6rem;
  margin-block-end: -4rem;
}

.footnotes p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.footnotes > hr {
  margin-block-end: 2rem;
}

.comments > hr {
  margin-block-start: 2rem;
  margin-block-end: 6rem;
}

table {
  border-collapse: collapse;
  overflow: auto;
  display: block;
  word-break: keep-all;
}

table :is(td, th) {
  border: 1px solid black;
  padding: 0.2em 0.4em;
}

article .header {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  color: #555;
}

.logo {
  text-align: center;
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

code {
  font-family: "Meslo LG M DZ", monospace;
  font-size: 95%;
  margin: 0;
  hyphens: manual;
}
pre {
  font-family: "Meslo LG M DZ", monospace;
  margin: 1em 0;
  padding: 8px 15px;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: #f5f5f5;
  overflow: visible;
}
div.sourceCode {
  border-radius: 5px;
}
pre:not(.sourceCode) {
  background-color: #f5f5f5;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 1.4rem;
  color: #555;
  margin: 0.5em 0 0;
}

figure {
  text-align: center;

  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  color: #379;
  text-decoration: underline;
  font-weight: 500;
}

a strong {
  font-weight: 700;
}

strong {
  font-weight: 600;
}

a.footnote-ref {
  text-decoration: none;
}

.footnote-ref sup:before {
  content: "[";
}

.footnote-ref sup:after {
  content: "]";
}

a.footnote-back {
  text-decoration: none;
}

blockquote {
  border-left: 1px solid #888;
  margin: 0;
  padding: 0 0 0 1rem;
}

hr {
  border: 0;
  border-top: 1px solid;
  margin: 2em 0;
}

.utterances {
  margin-block-start: -1em;
  margin-block-end: 3em;
}

.katex-display {
  overflow-x: auto;
  overflow-y: clip;
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.post-list .date {
  white-space: nowrap;
  color: #555;
}

.header .date,
.header .lastmod {
  white-space: nowrap;
}

@media (min-width: 540px) {
  header {
    margin: 0 0 1.5rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  footer > div + div {
    margin-top: 0;
  }
  .logo a {
    float: left;
  }
}
