<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>$title$ - blog.mskim.org</title>
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    $if(katex)$
    <link rel="stylesheet" href="/assets/vendor/katex/katex-swap.min.css">
    <script defer src="/assets/vendor/katex/katex.min.js"></script>
    <script defer src="/assets/vendor/katex/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body);"></script>
    $endif$
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">blog.mskim.org</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/posts">Posts</a>
        </nav>
    </header>

    <main role="main">
        <h1>$title$</h1>
        $body$
    </main>

    <footer>
        <div>
          <span class="copyright">© 2024-2025 Minseo Kim ·</span>
          <a rel="license" class="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
            CC BY-NC 4.0
          </a>
          <span class="license">· BSD-2-Clause<span>
        </div>
        <div>Powered by
          <a href="https://jaspervdj.be/hakyll">Hakyll</a> ·
          Website <a href="https://github.com/kimminss0/blog">source</a>
        </div>
    </footer>
</body>

</html>
